:root {
  --bodyColor: #1c1e53;
  --primaryColor: #5e3bee;
  /* --backgroundShade: #F5FCFF; */
  --backgroundShade: #d3e9f3;
  --headingColor: #282938;
  --whiteColor: #ffffff;
}
body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Shared Styles */

.custom-outline-btn {
  color: var(--primaryColor);
  line-height: 150%; /* 32px */
  border-radius: 5.333px;
  border: 1.333px solid var(--primaryColor);
}

.title {
  color: var(--headingColor);
  font-size: 3.05rem; /* 74.667px = 4.67rem */
  line-height: 120%; /* 89.6px */
}

/* Individual Styles - Navbar */

.navbar-list {
  color: var(--bodyColor);
  font-size: 1.34rem;
  font-weight: 400;
  line-height: 150%; /* 32px */
}

.navbar-list:active {
  color: var(--primaryColor);
}

/* Intro Section */

.intro {
  width: 100%;
  background-color: var(--backgroundShade);
}

.text600 {
  color: var(--headingColor);
  line-height: 150%; /* 32px */
}

.highlighted-text {
  color: var(--primaryColor);
}

.intro-description {
  color: var(--bodyColor);
  line-height: 150%; /* 36px */
}

.custom-btn {
  color: var(--whiteColor);
  background: var(--primaryColor);
  line-height: 150%; /* 32px */
  border-radius: 5.333px;
}

.intro-img {
  height: 70vw;
  width: 28vw;
  margin-top: 2vw;
  max-height: 50rem;
  max-width: 40rem;
}
.intro-img img {
  height: 60vw;
  max-height: 45rem;
  width: 40vw;
  max-width: 50rem;
  object-fit: contain;
}

/* Expertise Section */

.regular-card {
  border-radius: 0.67rem;
  background: var(--backgroundShade);
}

.custom-card {
  border-bottom: 4px solid var(--primaryColor);
}

.custom-title {
  color: var(--headingColor);
  line-height: 140%; /* 44.8px */
}

.custom-text {
  color: var(--bodyColor);
  line-height: 150%; /* 32px */
}




/* Media Query */

@media (max-width: 1399.98px) {
  .text600 {
    font-size: 2.5rem;
  }
  .title {
    font-size: 4.5rem;
  }
  .intro-description {
    font-size: 2rem;
  }
  .intro-img {
    height: 60vw;
    width: 90vw;
    position: relative;
    max-width: 70rem;
    margin-top: 0;
  }
  .intro-img img {
    height: 60vw;
    width: 90vw;
    max-width: 70rem;
    max-height: 50rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
