:root {
  --bodyColor: #1c1e53;
  --primaryColor: #5e3bee;
  /* --backgroundShade: #f5fcff; */
  --backgroundShade: #e8f5fb;
  --headingColor: #282938;
  --whiteColor: #ffffff;
  --borderColor: #006b6a;
}
body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Shared Styles */

.custom-outline-btn {
  color: var(--primaryColor);
  line-height: 150%; /* 32px */
  border-radius: 5.333px;
  border: 1.333px solid var(--primaryColor);
}

.custom-outline-btn:hover {
  color: var(--whiteColor);
  background: var(--primaryColor);
  border-radius: 5.333px;
}

.custom-outline-btn:focus {
  color: var(--whiteColor);
  background: var(--primaryColor);
  border-radius: 5.333px;
}

.title {
  color: var(--headingColor);
  font-size: 3.5rem; /* 74.667px = 4.67rem */
  line-height: 120%; /* 89.6px */
}

.text600 {
  font-size: 1.34rem;
  color: var(--headingColor);
  line-height: 150%; /* 32px */
}

.description {
  font-size: 1.5rem;
  color: var(--bodyColor);
  line-height: 150%; /* 36px */
}

.custom-btn {
  color: var(--whiteColor);
  background: var(--primaryColor);
  line-height: 150%; /* 32px */
  border-radius: 5.333px;
}

.custom-btn:hover {
  color: var(--whiteColor);
  background: var(--primaryColor);
  border-radius: 5.333px;
}

.custom-btn:focus {
  color: var(--whiteColor);
  background: var(--primaryColor);
  border-radius: 5.333px;
}
.hover-card {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.hover-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
/* Individual Styles - Navbar */

.navbar-list {
  color: var(--bodyColor);
  font-size: 1.34rem;
  font-weight: 400;
  line-height: 150%; /* 32px */
}

.navbar-list:active {
  color: var(--primaryColor);
}

/* Intro Section */

.intro {
  width: 100%;
  background-color: var(--backgroundShade);
}

.highlighted-text {
  color: var(--primaryColor);
}

/* Expertise Section */

.regular-card {
  border-radius: 0.67rem;
  background: var(--backgroundShade);
}

.custom-card {
  border-bottom: 4px solid var(--primaryColor);
}

.custom-title {
  color: var(--headingColor);
  line-height: 140%; /* 44.8px */
}

.custom-text {
  color: var(--bodyColor);
  line-height: 150%; /* 32px */
}

/* About Me Section */

.about-me .description .description-style {
  text-align: justify;
}

/* Portfolio Section */

.portfolio-btn {
  border-radius: 0.635rem;
  background: #e62872;
  box-shadow: 0px 2px 4px 0px rgba(16, 24, 40, 0.05);
}
.portfolio-btn:hover {
  background: #e62872;
}
.portfolio-btn:focus {
  box-shadow: none;
}
.portfolio .dribble-btn {
  border-bottom: 2px solid var(--primaryColor);
}
.portfolio .dribble-btn img {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}
.grid-fraction {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Testimonials section */

.testimonials {
  background-color: var(--backgroundShade);
}

.testimonials .testimonials-card {
  border-radius: 0.5rem;
  border: 2px solid var(--borderColor);
}

/* Contact Me Section */

.contact form .row .custom-select option {
  font-size: 0.8rem;
}

.contact form .form-control,
.contact form .form-select {
  border-radius: 0.625rem;
  border: 2px solid var(--primaryColor);
}

/* Footer Section */

.footer {
  background-color: var(--backgroundShade);
}

.footer .divider hr {
  height: 2px;
  background: var(--primaryColor);
}

.footer .footer-upper-list .footer-nav {
  font-size: 1rem;
  text-decoration: none;
}

.footer .footer-upper-icon .footer-icon {
  color: #000000;
}

.footer .footer-list .footer-lower-list,
.footer .footer-list .footer-text {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

/* Media Query */
@media (max-width: 402.98px) {
  .text600 {
    font-size: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 0.8rem;
  }
  .expertise .card .card-body .custom-text {
    font-size: 0.8rem;
  }
  .about-me .description .description-style {
    font-size: 0.8rem;
    line-height: 130%;
  }
  .portfolio .dribble-btn {
    font-size: 0.8rem;
  }
  .portfolio .dribble-btn img {
    width: 0.8rem;
    height: 0.8rem;
  }
  .footer .footer-upper-list .footer-nav {
    font-size: 0.9rem;
  }
  .footer .footer-list .footer-lower-list,
  .footer .footer-list .footer-text {
    font-size: 0.7rem;
  }
}
@media (min-width: 403px) and (max-width: 575.98px) {
  .text600 {
    font-size: 1.2rem;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 0.8rem;
  }
  .expertise .card .card-body .custom-text {
    font-size: 0.8rem;
  }
  .about-me .description .description-style {
    font-size: 0.8rem;
    line-height: 130%;
  }
  .portfolio .dribble-btn {
    font-size: 0.8rem;
  }
  .portfolio .dribble-btn img {
    width: 0.8rem;
    height: 0.8rem;
  }
  .footer .footer-upper-list .footer-nav {
    font-size: 0.9rem;
  }
  .footer .footer-list .footer-lower-list,
  .footer .footer-list .footer-text {
    font-size: 0.7rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .text600 {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .description {
    font-size: 0.9rem;
  }
  .expertise .card .card-body .custom-text {
    font-size: 1rem;
  }
  .about-me .description .description-style {
    font-size: 0.8rem;
    line-height: 130%;
  }
  .portfolio .dribble-btn {
    font-size: 0.8rem;
  }
  .portfolio .dribble-btn img {
    width: 0.8rem;
    height: 0.8rem;
  }
  .footer .footer-upper-list .footer-nav {
    font-size: 0.9rem;
  }
  .footer .footer-list .footer-lower-list,
  .footer .footer-list .footer-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .text600 {
    font-size: 1.8rem;
  }
  .title {
    font-size: 3rem;
  }
  .description {
    font-size: 1rem;
  }
  .expertise .card .card-body .custom-text {
    font-size: 1rem;
  }
  .about-me .description .description-style {
    font-size: 1rem;
    line-height: 130%;
  }
  .portfolio .dribble-btn {
    font-size: 0.8rem;
  }
  .portfolio .dribble-btn img {
    width: 0.8rem;
    height: 0.8rem;
  }
}

@media (min-width: 992px) and (max-width: 1399.98px) {
  .text600 {
    font-size: 2.5rem;
  }
  .title {
    font-size: 4rem;
  }
  .description {
    font-size: 2rem;
  }
  .expertise .card .card-body .custom-text {
    font-size: 1rem;
  }
  .about-me .description .description-style {
    font-size: 1.15rem;
    line-height: 130%;
  }
  .portfolio .dribble-btn {
    font-size: 1rem;
  }
  .portfolio .dribble-btn img {
    width: 0.8rem;
    height: 0.8rem;
  }
}

/* Navbar toggler list style */

@media (min-width: 992px) {
  .navbar-collapse {
    justify-content: center !important;
  }
}
/* Right-align the navbar content on smaller screens */
@media (max-width: 991.98px) {
  .navbar-nav {
    text-align: right;
  }
}
